@page "/counter"


<input type="text" @onkeydown=" KeyboardEventHandler"  />

<h4>@KeyPressed </h4>
<h4>@EventInfo</h4>
<h4>@value</h4>

@code {
    string KeyPressed = "";
    string EventInfo = "";
    string value = "";
    private void KeyboardEventHandler(KeyboardEventArgs args)
    {
        KeyPressed = "Key Pressed is " + args.Key;
        EventInfo = "Event Type " + args.Type;

        if (args.Key == "Backspace")
        {
            Console.WriteLine("backspace");
            Console.WriteLine(value.Length);
            if (value.Length != 0)
            {
                Console.WriteLine("is not zero");
                value = value.Substring(0, value.Length - 1);
            }
            return;
        }
        if(args.Key == "+")
        {

        }
        if(args.Key == "-")
        {
            
        }

        value += args.Key;

    }
}