@page "/mtg/user/settings"
@inject AuthenticationStateProvider auth
<h3>User Settings</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		var authState = await auth.GetAuthenticationStateAsync();

		if (authState.User.Identity is not null)
		{
			if (authState.User.Identity.IsAuthenticated)
			{
				
			}
		}
	}
}
